@media (max-width: 768px) {
  .navbar .navbar-brand img {
    width: 60px;
  }

  .navbar-nav .nav-link {
    font-size: 18px;
  }

  .container-propa {
    flex-direction: column;
  }

  .card-text {
    text-align: center;
    width: 100%;
    padding: 20px;
  }

  .card-img {
    width: 100%;
    padding: 20px;
  }

  .hospedagem {
    padding: 0px;
  }

  .hospedagem h1 {
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }

  .hospedagem-text {
    flex-direction: column;
    padding: 0px;
  }

  .text-01 {
    width: 100%;
    padding: 20px;
  }

  .text-02 {
    width: 100%;
    padding: 20px;
  }

  main {
    padding: 10px;
  }

  .hospedagem-rooms {
    margin-top: 30px;
  }

  .hospedagem-img {
    flex-direction: column;
    width: 50%;
  }

  .Reserva {
    flex-direction: column;
  }

  .card-reserva {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  form {
    padding: 10px;
  }

  .form-reserva {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .navbar .navbar-brand img {
    width: 50px;
  }
  .navbar-nav .nav-link {
    font-size: 15px;
  }

  header {
    padding: 10px;
  }

  .hospedagem-rooms h2 {
    font-size: 2rem;
  }

  .hospedagem-img {
    flex-direction: column;
    width: 100%;
  }

  .text-01 h3,
  .text-02 h3 {
    font-size: 1.5rem;
  }

  .card-reserva h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .card-reserva p {
    font-size: 14px;
  }

  form {
    width: 100%;
    padding: 5px;
  }

  label {
    font-size: 12px;
  }

  .faixa-etaria {
    display: flex;
  }

  .btn-form {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .navbar .navbar-brand img {
    width: 40px;
  }
  .navbar-nav .nav-link {
    font-size: 13px;
  }

  .hospedagem-img p {
    font-size: 1rem;
  }
}
